*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    /* background: #444d5d; */
    background: #374151;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
}

input, textarea, select {
    background-color: #000000 !important; 
    color: #ffffff !important;            
    border: 1px solid #ccc !important;     
    padding: 8px;                          
    font-size: 16px;                      
    border-radius: 4px;                    
  }
  

  input::placeholder, textarea::placeholder {
    color: #555555 !important; 
  }
  
  
  select {
    color: #ffffff !important;   
    background-color: #000000 !important; 
  }
  
  
  select option {
    color: #555555 !important; 
  }
  